html, body, .home{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
body{
  background: linear-gradient(50deg, rgba(50,205,50, 0.5), rgba(189,83,107, 0.5)),url('imagens/background.jpg') no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

nav.navbar-transparent{
  padding: 20px 0;
  background: rgba(0,0,0,0.6);
  border: none;
}

.txt-logo{
  font-size: 30px;
}

.home{
  display: table;
  width: 100%;
}
.texto-home{
  text-align: center;
  color:white;
  display: table-cell;
  vertical-align: middle;
}
.texto-home h1{
  font-size: 100px;
}
.btn-home{
  background: rgba(255,255,255,0.5);
  width: 200px;
  margin: 10px;
  color: black;
}
.btn-home:hover{
  transition: 1s;
  background: rgb(255,255,255);
  width: 200px;
  margin: 10px;
  color: black;
}
.fundo-sobre{
  padding: 15px;
  background: white;
}

#sobre h1{
  font-size: 60px;
  font-weight: bold;
}
#sobre h2{
  font-size: 30px;
  margin-top: 50px;
}
#trabalho{
  color:white;
  text-align: center;
}
#contato{
  color:white;
  h1{
    font-size: 50px;
  }
}
#contato .btn-custom{
  width: 150px;
  color: black;
}

#rodape{
  background: black;
  color: rgba(255,255,255,0.6);
}
.item-rede-social{
  float:right;
}
.job{
  margin: 200px auto;
  width:480px;
  height: 270px;
  position: relative;
  overflow: hidden;;
}
.foto{
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes animacao {
  25%{
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  50%{
    opacity:0;
  }
}
@media screen and (max-width:767px) {
  .texto-home h1{
    font-size: 50px;
  }
}
